/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


:root {
    --satoshi-font: 'Satoshi', sans-serif;

    --font-64px: 4rem;
    --font-40px: 2.5rem;
    --font-32px: 2rem;
    --font-24px: 1.5rem;
    --font-20px: 1.25rem;
    --font-16px: 1rem;
    --font-14px: 0.875rem;

    --font-color-title: hsl(240, 2%, 32%);
    --font-color-light: hsl(212, 7%, 41%);
    --font-color-dark: hsl(212, 10%, 30%);
    --font-color-inactive: hsl(212, 8%, 61%);

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --color-white: #fefefe;
    --color-primary: hsl(234, 86%, 68%);
    --color-primary-light: hsl(234, 83%, 79%);
    --color-gray-100: hsl(180, 11%, 98%);
    --color-gray-200: hsl(200, 12%, 95%);
    --color-gray-300: hsl(210, 9%, 91%);
    --color-background-modal: hsla(214, 8%, 61%, 0.57);
}



/* ESTILOS GENERALES */
body {
    background: var(--color-gray-100);
    font-family: var(--satoshi-font);
}

/*Tipografía*/
.h1 {
    font-size: clamp(2.5rem, 1vw + 2.5rem, 4rem);
    font-weight: var(--font-weight-black);
    line-height: 1.2;
    color: var(--font-color-title);
    text-align: center;
}

.h2 {
    font-size: clamp(1.5rem, 1vw + 1.5rem, 2.5rem);
    font-weight: var(--font-weight-black);
    line-height: 1.1;
    color: var(--font-color-title);
    text-align: center;
}

.h3 {
    font-size: var(--font-24px);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    color: var(--font-color-title);
}

.h4 {
    font-size: var(--font-20px);
    font-weight: var(--font-weight-bold);
    line-height: 1.3;
    color: var(--font-color-title);
    text-align: center;
}

.subtitle {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.5rem);
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    color: var(--font-color-light);
    text-align: center;
    max-width: 50ch;
    margin: 0 auto;
}

.regular-size-text {
    font-size: var(--font-16px) !important;
}

.paragraph {
    font-size: var(--font-16px);
    font-weight: var(--font-weight-regular);
    line-height: 1.4;
}

.bold-paragraph {
    font-size: var(--font-20px);
    font-weight: var(--font-weight-bold);
}

.main-cta {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem 3.75rem;
    border: none;
    border-radius: 62.5rem;
    letter-spacing: 0.0313rem;
    box-shadow: 0px 0.25rem 1.125rem hsla(234, 52%, 52%, 0.2);
    cursor: pointer;
    transition: box-shadow linear 240ms;
}

.main-cta:hover {
    box-shadow: 0px 0.35rem 2.125rem 12px hsl(234deg 65.14% 61.6% / 16%);
}

.filter-button {
    font-size: var(--font-16px);
    font-weight: var(--font-weight-medium);
    color: var(--font-color-dark);

    padding: 8px 20px;
    border: none;
    border-radius: 12px;
    background-color: hsl(234deg 100% 87.54%);

    cursor: pointer;

    transition: transform linear 240ms, background-color linear 240ms, color linear 240ms;
}

.filter-button:hover {
    transform: translate(0, -2px);
    background-color: hsl(232deg 69.85% 60.82%);
    color: var(--color-white);
}

/* .filter-selected {
    color: var(--color-white);
    background-color: hsl(232deg 69.85% 60.82%);
} */

a {
    text-decoration: none;
}

.line-height-title{
    line-height: 1.1;
}

/*Tipografía (colores)*/
.text-primary {
    color: var(--color-primary);
}

.text-title {
    color: var(--font-color-title);
}

.text-white {
    color: var(--color-white);
}

.text-light {
    color: var(--font-color-light);
}

.text-dark {
    color: var(--font-color-dark);
}

/*Colores*/
.primary {
    background-color: var(--color-primary);
}

.svg-white {
    fill: var(--color-gray-200);
}

.svg-primary {
    fill: var(--color-primary);
}

.svg-primary-light {
    fill: var(--color-primary-light);
}

/*Espaciado*/
.container {
    width: 90%;
    max-width: 1200px;
}

.title-margin {
    margin: 6rem 0 1rem 0;
}

.title-margin-bottom {
    margin-bottom: 1rem;
}

.margin-main-cta {
    margin: 40px auto 0 auto;
}



/* INDEX (Home/Landing Page) */
/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1.875rem 0 0 0;
}

.navbar-back{
    padding: 2.2rem 0 0 0;
}

.nav-links {
    font-size: clamp(1rem, 1vw + 0.9rem, 1.3rem);
    font-weight: var(--font-weight-black);
}

.nav-link-todo {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.arrow-svg-right {
    transition: transform linear 240ms;
}

.nav-link-todo:hover .arrow-svg-right {
    transform: translateX(6px);
}

.arrow-svg-left{
    transition: transform linear 240ms;
}

.nav-link-todo:hover .arrow-svg-left{
    transform: translateX(-6px);
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* TITLE */
.title-page {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

/* FEATURES */
.card-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1.875rem 1.875rem;
    margin-top: 3.75rem;
}

.feature {
    background-color: var(--color-gray-200);
    border-radius: var(--font-24px);
    box-shadow: 0px 4px 24px 0px hsla(180, 3%, 85%, 0.1);

    max-width: 18.75rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pill-svg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* FOOTER */
footer {
    border-top: 1.5px solid var(--color-gray-200);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    margin: 3.75rem auto 0 auto;
    padding: 25px 0 25px 0;
}

.footer-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-svg {
    background-color: var(--color-gray-200);
    padding: 10px;
    border-radius: 16px;
    transition: background-color linear 240ms;
}

.socials-svg:hover {
    background-color: var(--color-gray-300);
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        gap: 0;
    }

    .footer-credits {
        align-items: flex-start;
    }
}



/* APP PAGE (Listado) */
/* Listas de tareas */
.app-page .title-page {
    margin-bottom: 3.75rem;
}

.lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.875rem 1.875rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    min-width: 100%;
    max-width: 330px;
    min-height: 350px;
    padding: 48px 48px 118px 48px;
    position: relative;

    text-align: left;
    background: var(--color-white);
    box-shadow: 0px 4px 24px 0px hsla(180, 3%, 85%, 0.1);
    border-radius: 1.5rem;
    border: none;

    cursor: pointer;
    transition: background-color linear 240ms;
}

.list:hover {
    background-color: var(--color-gray-200);
}

.delete-list {
    position: absolute;
    top: 29px;
    right: 29px;
    opacity: 1;

    transition: opacity linear 240ms;
}

.list:hover .delete-list {
    opacity: 1;
}

.delete-list>path {
    transition: fill linear 240ms;
}

.delete-list:hover>path {
    fill: var(--font-color-light);
}

.list-type {
    font-size: var(--font-14px);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);

    display: inline-block;
    max-width: max-content;
    padding: 0.25rem 1rem;
    background-color: var(--color-primary);
    border-radius: 62.5rem;
}

.show-on-detail {
    display: none;
}

.list-title {
    overflow: hidden;
    line-height: 1.9rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.list-description {
    margin-top: 8px;
    overflow: hidden;
    line-height: 1.4rem;
    max-height: 4.2rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}


.list-task-count {
    background-color: var(--color-gray-100);

    max-width: max-content;
    padding: 16px;
    border-radius: 1.3rem;
    align-self: flex-end;

    position: absolute;
    top: 250px;
    right: 48px;
}

.list-task-count::after {
    content: url(../imgs/svg/check-list.svg);
    position: absolute;
    top: 38px;
    right: -10px;
}

.add-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 330px;
    min-height: 350px;
    padding: 48px;

    background-color: transparent;
    border: 4px dashed var(--color-gray-200);
    border-radius: 1.5rem;
    cursor: pointer;

    transition: background-color linear 240ms;
}

.add-list:hover {
    background-color: var(--color-gray-200);
}

.add-list>svg {
    padding: 8px;
    background-color: #F1F3F4;
    border-radius: 16px;
}

.add-list>p {
    font-size: var(--font-24px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-inactive);
    text-align: center;
    line-height: 2rem;
}

@media screen and (min-width: 400px) {
    .list {
        min-width: 330px;
    }

    .add-list {
        min-width: 330px;
    }
}



/* Ventana modal (agregar lista de tarea) */
.bg-modal {
    display: grid;
    place-items: center;
    /* position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-background-modal); */
    /* backdrop-filter: blur(10px); */
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    position: relative;
    width: 100%;
    height: 100%;

    padding: 90px 24px 40px 24px;
    background: var(--color-gray-100);

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-name: fadein;
    animation-duration: 0.5s;

}

/* .close-modal {
    background-color: var(--color-gray-200);
    padding: 8px;
    border-radius: 16px;

    position: absolute;
    top: 30px;
    right: 24px;
    cursor: pointer;
}

.close-modal svg {
    transform: rotate(45deg);
}

.close-modal-path {
    transition: fill ease-in-out 220ms;
}

.close-modal:hover .close-modal-path {
    fill: var(--color-primary);
} */

@media screen and (min-width: 650px) {
    .modal {
        height: auto;
        max-width: 600px;
        margin: 30px 0;
        padding: 80px 90px 60px 90px;
        border-radius: 24px;
    }

    .modal>h2 {
        padding: 0 50px 0 50px;
    }

    /* .close-modal {
        top: 34px;
        right: 34px;
    } */
}

/* Form (agregar lista de tarea) */
#addListForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formControl-name,
.formControl-description,
.formControl-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#addListForm label,
#addListForm textarea,
#addListForm input:not(input[type=submit], input[type=radio]) {
    display: block;
    width: 100%;
}

.formLabel {
    font-size: clamp(16px, 1vw + 12px, 1.125rem);
}

.label-radioButton {
    display: inline !important;
    cursor: pointer;
}

.input-text {
    resize: none;

    background-color: var(--color-gray-200);

    border: none;
    border-radius: 1rem;
    padding: 16px 22px;
    color: var(--font-color-dark);

}

::placeholder {
    color: var(--font-color-inactive);
    font-size: var(--font-16px);
}

.feedback-text {
    font-size: var(--font-14px);
    color: var(--font-color-light);
}

#addListForm input[type=submit] {
    margin-top: 1.25rem;
    padding: 0.875rem 4.375rem;
}

/*Custom radio buttons*/
.containerRadioButtons {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.radioButton>input[type=radio] {
    opacity: 0;
    position: absolute;
}

.label-radioButton {
    font-size: var(--font-16px);
    color: var(--font-color-dark);

    display: flex !important;
    align-items: center;
}

.custom-radioButton {
    --size: 16px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: 8px;

    background-color: var(--color-gray-300);
    border-radius: 7px;
    cursor: pointer;

    transition: background-color ease-in-out 220ms;
}

.radioButton:hover .custom-radioButton,
.radioButton>input[type=radio]:focus+label .custom-radioButton {
    background-color: var(--font-color-inactive);
}

.radioButton>input[type=radio]:checked+label .custom-radioButton {
    background-color: var(--color-primary);
}


@media screen and (min-width: 650px) {
    .containerRadioButtons {
        flex-direction: row;
        gap: 1.125rem;
    }

    .custom-radioButton {
        margin-right: 6px;
    }
}



/* APP PAGE (Detalle) */
/* Agregar tarea input*/
#addTaskForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;

    margin: 0 auto;
    padding: 6px 6px 6px 6px;
    border-radius: 16px;

    background-color: var(--color-white);
    box-shadow: 0px 4px 35px rgb(217 217 217 / 20%);
    transition: transform linear 240ms,
        box-shadow linear 240ms,
        background-color linear 240ms;
}

#addTaskForm #newTask {
    width: 100%;
    max-width: 100%;
    padding: 0px 0px 0px 40px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */

    color: var(--font-color-title);
    border: none;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='none'%3E%3Cpath fill='%23616870' fill-rule='evenodd' d='M2.412 1.438C1.5 2.374 1.5 3.883 1.5 6.9v3.2c0 3.017 0 4.526.912 5.462.91.938 2.377.938 5.31.938h1.556c2.933 0 4.4 0 5.31-.938.912-.936.912-2.445.912-5.462V6.9c0-3.017 0-4.526-.912-5.462C13.678.5 12.211.5 9.278.5H7.722c-2.933 0-4.4 0-5.31.938ZM4.806 5.3c0-.16.061-.312.17-.424A.575.575 0 0 1 5.39 4.7h6.222c.155 0 .303.063.413.176a.609.609 0 0 1 0 .848.575.575 0 0 1-.413.176H5.39a.575.575 0 0 1-.413-.176.609.609 0 0 1-.17-.424Zm0 3.2c0-.16.061-.312.17-.424A.575.575 0 0 1 5.39 7.9h6.222c.155 0 .303.063.413.176a.609.609 0 0 1 0 .848.575.575 0 0 1-.413.176H5.39a.575.575 0 0 1-.413-.176.609.609 0 0 1-.17-.424Zm.583 2.6a.575.575 0 0 0-.413.176.61.61 0 0 0 0 .848c.11.113.258.176.413.176h3.889a.575.575 0 0 0 .412-.176.61.61 0 0 0 0-.848.575.575 0 0 0-.412-.176h-3.89Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 13px center;
}

#addTaskForm #newTask:focus {
    outline: none;
}

#addTaskForm:focus-within {
    box-shadow: 0px 8px 35px 8px rgba(201, 201, 201, 0.2);
    transform: translate(0, -5px);
}

#addTaskForm:hover {
    background-color: hsl(0, 0%, 99%);
}

#addTaskForm button[type=submit] {
    display: block;
    text-indent: -999px;
    overflow: hidden;
    min-width: 44px;
    height: 44px;

    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath fill='%23FEFEFE' d='M16 8h-6V2a1 1 0 0 0-2 0v6H2a1 1 0 0 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2Z'/%3E%3C/svg%3E") no-repeat center;
    background-color: var(--color-primary);
    border: none;
    border-radius: 12px;

    cursor: pointer;
    transition: background-color linear 220ms;
}

#addTaskForm button[type=submit]:hover {
    background-color: hsl(232deg 69.85% 60.82%);
}

/* Filtros*/
.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;

    margin: 3.75rem 0 0 0;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    gap: 16px;
}

.filters-container>p {
    font-size: var(--font-16px);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-light);
}

@media screen and (min-width: 600px) {
    .filters-container {
        flex-direction: row;
    }

    .filters {
        flex-direction: row;
        justify-content: flex-start;

        gap: 16px;
        align-items: center;
    }
}

/* Tareas */
.tasks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;

    margin: 3.75rem 0 6.75rem 0;
}

.column-tasks {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.tasks-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.task-counter {
    font-size: var(--font-20px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-title);

    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--color-gray-200);
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 32px 0 0 0;
}

.tasks .task {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
    padding: 1rem 3rem 1rem 1.5rem;

    border-radius: 16px;
    background-color: var(--color-gray-200);
    transition: background-color linear 220ms;
}

.tasks .task:hover {
    background-color: var(--color-gray-300);
}

.tasks .task>label {
    display: inline-flex;
    align-items: center;
    /* width: 100%; */
    position: relative;

    font-size: var(--font-16px);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-dark);
    word-break: break-word;

    cursor: pointer;
    text-decoration: none;
    transition: text-decoration ease-in-out 220ms, color ease-in-out 220ms;
}

.tasks .task>input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.custom-checkbox {
    --size: 16px;
    display: inline-block;
    min-width: var(--size);
    height: var(--size);
    margin-right: var(--size);

    background-color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;

    transition: background ease-in-out 220ms;
}

.task>input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: var(--font-color-inactive);
}

.task>input[type="checkbox"]:checked+label .custom-checkbox {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='none'%3E%3Cpath fill='%236876F4' d='M5.44 11.89 2.124 8.854a.998.998 0 0 0-.673-.255.998.998 0 0 0-.673.255.837.837 0 0 0-.279.617c0 .114.025.228.072.334a.871.871 0 0 0 .207.283l3.992 3.656c.372.341.974.341 1.346 0L16.221 4.49a.837.837 0 0 0 .279-.617c0-.231-.1-.453-.279-.617A.998.998 0 0 0 15.548 3a.998.998 0 0 0-.673.255L5.439 11.89Z'/%3E%3C/svg%3E") no-repeat center;
}

.delete-list-task {
    opacity: 1;
    top: 12px;
    right: 16px;
    cursor: pointer;
}


@media screen and (min-width: 600px) {
    .tasks-container {
        flex-direction: row;
        gap: 40px;
    }

    .column-tasks {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .delete-list {
        opacity: 0;
    }

    .delete-list-task {
        opacity: 0;
    }

    .tasks .task:hover .delete-list-task {
        opacity: 1;
    }
}