/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


:root {
    --satoshi-font: 'Satoshi', sans-serif;

    --font-64px: 4rem;
    --font-40px: 2.5rem;
    --font-32px: 2rem;
    --font-24px: 1.5rem;
    --font-20px: 1.25rem;
    --font-16px: 1rem;
    --font-14px: 0.875rem;

    --font-color-title: hsl(240, 2%, 32%);
    --font-color-light: hsl(212, 7%, 41%);
    --font-color-dark: hsl(212, 10%, 30%);
    --font-color-inactive: hsl(212, 8%, 61%);

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --color-white: #fefefe;
    --color-primary: hsl(234, 86%, 68%);
    --color-primary-light: hsl(234, 83%, 79%);
    --color-gray-100: hsl(180, 11%, 98%);
    --color-gray-200: hsl(200, 12%, 95%);
    --color-gray-300: hsl(210, 9%, 91%);
    --color-background-modal: hsla(212, 8%, 61%, 0.7);
}



/* ESTILOS GENERALES */
body {
    background: var(--color-gray-100);
    font-family: var(--satoshi-font);
}

/*Tipografía*/
.h1 {
    font-size: clamp(2.5rem, 1vw + 2.5rem, 4rem);
    font-weight: var(--font-weight-black);
    line-height: 1.2;
    color: var(--font-color-title);
    text-align: center;
}

.h2 {
    font-size: clamp(1.5rem, 1vw + 1.5rem, 2.5rem);
    font-weight: var(--font-weight-black);
    line-height: 1.1;
    color: var(--font-color-title);
    text-align: center;
}

.h3 {
    font-size: var(--font-24px);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    color: var(--font-color-title);
}

.h4 {
    font-size: var(--font-20px);
    font-weight: var(--font-weight-bold);
    line-height: 1.3;
    color: var(--font-color-title);
    text-align: center;
}

.subtitle {
    font-size: clamp(16px, 0.5vw + 16px, 24px);
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    color: var(--font-color-light);
    text-align: center;
    max-width: 50ch;
    margin: 0 auto;
}

.paragraph {
    font-size: var(--font-16px);
    font-weight: var(--font-weight-regular);
    line-height: 1.4;
}

.bold-paragraph {
    font-size: var(--font-20px);
    font-weight: var(--font-weight-bold);
}

.main-cta {
    display: inline-block;
    margin: 0 auto;
    padding: 16px 60px;
    border: none;
    border-radius: 62.5rem;
    box-shadow: 0px 4px 18px hsla(234, 52%, 52%, 0.2);
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*Tipografía (colores)*/
.text-primary {
    color: var(--color-primary);
}

.text-title {
    color: var(--font-color-title);
}

.text-white {
    color: var(--color-white);
}

.text-light {
    color: var(--font-color-light);
}

.text-dark {
    color: var(--font-color-dark);
}


/*Colores*/
.primary {
    background-color: var(--color-primary);
}

.svg-white {
    fill: var(--color-gray-200);
}

.svg-primary {
    fill: var(--color-primary);
}

.svg-primary-light {
    fill: var(--color-primary-light);
}

/*Espaciado*/
.container {
    width: 90%;
    max-width: 1200px;
}

.title-margin {
    margin: 120px 0 16px 0;
}

.margin-main-cta {
    margin: 40px auto 0 auto;
}



/* INDEX (Home/Landing Page) */
/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1.875rem 0 0 0;
}

.nav-links {
    font-size: clamp(1rem, 1vw + 0.9rem, 1.3rem);
    font-weight: var(--font-weight-black);
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* TITLE */
.title-page {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

/* FEATURES */
.card-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1.875rem 1.875rem;
    margin-top: 3.75rem;
}

.feature {
    background-color: var(--color-gray-200);
    border-radius: var(--font-24px);
    box-shadow: 0px 4px 24px 0px hsla(180, 3%, 85%, 0.1);

    max-width: 18.75rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pill-svg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/* FOOTER */
footer {
    border-top: 1.5px solid var(--color-gray-200);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    margin: 3.75rem auto 0 auto;
    padding: 25px 0 25px 0;
}

.footer-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-svg {
    background-color: var(--color-gray-200);
    padding: 10px;
    border-radius: 16px;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        gap: 0;
    }

    .footer-credits {
        align-items: flex-start;
    }
}


/* APP PAGE (Listado) */
/* Listas de tareas */
.list-page .title-page {
    margin-bottom: 3.75rem;
}

.lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.875rem 1.875rem;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    max-width: 330px;
    min-height: 350px;
    padding: 48px 48px 118px 48px;
    position: relative;

    text-align: left;
    background: var(--color-white);
    box-shadow: 0px 4px 24px 0px hsla(180, 3%, 85%, 0.1);
    border-radius: 1.5rem;
    border: none;

    cursor: pointer;
    transition: background-color linear 240ms;
}

.list:hover {
    background-color: var(--color-gray-200);
}

.delete-list {
    position: absolute;
    top: 29px;
    right: 29px;
    opacity: 0;

    transition: opacity linear 240ms;
}

.list:hover .delete-list {
    opacity: 1;
}

.delete-list>path {
    transition: fill linear 240ms;
}

.delete-list:hover>path {
    fill: var(--font-color-light);
}

.list-type {
    font-size: var(--font-14px);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);

    max-width: max-content;
    padding: 0.25rem 1rem;
    background-color: var(--color-primary);
    border-radius: 62.5rem;
}

.list-title {
    overflow: hidden;
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.list-description {
    margin-top: 8px;
    overflow: hidden;
    line-height: 1.4rem;
    max-height: 4.2rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}


.list-task-count {
    background-color: var(--color-gray-100);

    max-width: max-content;
    padding: 16px;
    border-radius: 1.3rem;
    align-self: flex-end;

    position: absolute;
    top: 250px;
    right: 48px;
}

.list-task-count::after {
    content: url(../imgs/svg/check-list.svg);
    position: absolute;
    top: 38px;
    right: -10px;
}

.add-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 330px;
    min-height: 350px;
    padding: 48px;

    background-color: transparent;
    border: 4px dashed var(--color-gray-200);
    border-radius: 1.5rem;
    cursor: pointer;

    transition: background-color linear 240ms;
}

.add-list:hover {
    background-color: var(--color-gray-200);
}

.add-list>svg {
    padding: 8px;
    background-color: #F1F3F4;
    border-radius: 16px;
}

.add-list>p {
    font-size: var(--font-24px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-inactive);
    text-align: center;
    line-height: 2rem;
}

@media screen and (min-width: 400px) {
    .list {
        min-width: 330px;
    }

    .add-list {
        min-width: 330px;
    }
}

/* Ventana modal (agregar lista de tarea) */
.bg-modal {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-background-modal);
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    position: relative;
    width: 90%;
    max-width: 600px;

    padding: 80px 40px 40px 40px;
    border-radius: 24px;
    background: var(--color-gray-100);

    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-name: fadein;
    animation-duration: 0.5s;

}

@media screen and (min-width: 650px) {
    .modal {
        padding: 100px 90px 80px 90px;
    }

    .modal>h2 {
        padding: 0 50px 0 50px;
    }
}

/* Form (agregar lista de tarea) */
#addListForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formControl-name,
.formControl-description,
.formControl-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#addListForm label,
#addListForm textarea,
#addListForm input:not(input[type=submit], input[type=radio]) {
    display: block;
    width: 100%;
}

.formLabel {
    font-size: clamp(16px, 1vw + 12px, 1.125rem);
}

.label-radioButton {
    display: inline !important;
}

.input-text {
    resize: none;

    background-color: var(--color-gray-200);

    border: none;
    border-radius: 1rem;
    padding: 16px 22px;
    color: var(--font-color-dark);

}

::placeholder {
    color: var(--font-color-inactive);
    font-size: var(--font-16px);
}

.feedback-text {
    font-size: var(--font-14px);
    color: var(--font-color-light);
}

#addListForm input[type=submit] {
    margin-top: 1.25rem;
    padding: 0.875rem 3.75rem;
}

/*Radio buttons*/
.containerRadioButtons {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.radioButton>input[type=radio] {
    opacity: 0;
    position: absolute;
}

.label-radioButton {
    font-size: var(--font-16px);
    color: var(--font-color-dark);

    display: flex !important;
    align-items: center;
}

.custom-radioButton {
    --size: 16px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: 8px;

    background-color: var(--color-gray-300);
    border-radius: 7px;
    cursor: pointer;

    transform: scale(1);
    transition: background-color ease-in-out 220ms;
}

.radioButton:hover .custom-radioButton,
.radioButton>input[type=radio]:focus+label .custom-radioButton {
    background-color: var(--font-color-inactive);
}

.radioButton>input[type=radio]:checked+label .custom-radioButton {
    background-color: var(--color-primary);
}


@media screen and (min-width: 650px) {
    .containerRadioButtons {
        flex-direction: row;
        gap: 1.125rem;
    }

    .custom-radioButton {
        margin-right: 6px;
    }
}